<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Start another Jenkins instance using docker, within the current instance.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>JENKINS_PORT=$((JENKINS_PORT+1))
DOCKER_IMAGE=&quot;remydewolf/jenkins-in-jenkins&quot;

echo $JENKINS_PORT
echo &quot;Starting new Jenkins server at http://localhost:$JENKINS_PORT&quot;
docker run -p $JENKINS_PORT:8080 -e JENKINS_PORT=$JENKINS_PORT --rm -v /var/run/docker.sock:/var/run/docker.sock --name jenkins-$JENKINS_PORT $DOCKER_IMAGE</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>